<!DOCTYPE html>
<html>  
  <head>  
     <title>Gensler</title>
  </head>
  <body>
     <div id="divId"></div>
     <script async defer src="https://maps.googleapis.com/maps/api/js"></script>
     <script src="/app.js"></script>
  </body>
</html>
